* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  font-family: var(--font-family);
}
a {
  text-decoration: none;
}
body {
  overflow-x: hidden !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}
:root {
  --white-color: #fff;
  --font-family: "Inter", sans-serif;
  --text-hover: #ae2827;
  --text-red: #ae2827;
  --blue-color: #132c7b;
  --black-color: #000;
  --grey-text-color: #282828;
  --yellow-color: #ffcc00;
  --grey-bg: #e4e2e2;
}
.navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}
.top-reason-box {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.navbar-nav .nav-item a {
  font-family: var(--font-family);
  font-weight: 500 !important;
  white-space: nowrap;
  display: inline-block;
}
li.nav-item {
  margin: 10px;
}
.navbar-nav .nav-item a:hover {
  color: var(--text-hover);
}
.nav-item .btn-primary {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 100 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
#connect-expert-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b) !important;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 400 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
.nav-item .btn-primary:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
#connect-expert-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
.navbar-brand img {
  height: 60px !important;
}
.dropdown-toggle::after {
  display: none !important;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.hero-section {
  padding: 50px 0px;
  position: relative;
  background-image: url('./images/video-1.jpg');
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.hero-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#top-heading {
  margin-top: 50px !important;
}
#top-heading-para {
  font-weight: 200;
  font-size: 16px;
}
#details-about {
  margin-top: -50px;
}


.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.hero-content {
  position: relative;
  z-index: 3;
  color: #fff;
}
.heading-text {
  position: relative;
  z-index: 1;
  color: white;
  text-align: left !important;
}
.heading-text h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}
.heading-text p {
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.custom-container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  margin-top: -100px;
  z-index: 9999;
  position: relative;
  border-bottom: 5px solid var(--text-hover) !important;
  font-family: var(--font-family);
}
.big-number {
  margin-bottom: 0px !important;
  font-size: 38px !important;
  color: var(--black-color);
  font-family: var(--font-family);
}
#consult-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  text-transform: uppercase;
}
#consult-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
#consult-btn span {
  color: var(--yellow-color);
  font-weight: 700;
}
#service-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 400;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
#service-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
#digital-btn {
  border-radius: 5px;
  border: 2px solid (var(--white-color));
  background-color: transparent !important;
  background-image: none !important;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 400 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  white-space: nowrap;
}
#digital-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
  border: 2px solid #253695 !important;
}
#comp-service-title {
  margin-bottom: 0 !important;
  color: #fff;
  text-transform: uppercase;
}
#company-service-para {
  color: #fff;
  font-weight: 400;
}
.card-title {
  color: var(--text-red) !important;
  font-size: 22px;
  font-weight: 600;
}
.card-title,
.card-text {
  font-family: var(--font-family);
}
.choose-card-new {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 5px solid var(--text-red) !important;
}
.about-section {
  width: 100%;
  background-image: url("./images/about\ background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-section {
  width: 100%;
  background-image: url("./images/tech-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h1 {
  font-size: 40px;
  font-family: var(--font-family);
  color: #fff !important;
}
.heading-text h1 {
  font-size: 48px;
  font-family: var(--font-family);
  color: #fff !important;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2 !important;
  font-weight: bold;
  font-weight: 800;
}
.heading-text h1 span {
  font-family: var(--font-family);
  text-align: center;
  text-transform: uppercase;
  line-height: 1 !important;
  font-weight: bold;
  font-weight: 800;
}
.heading-text p {
  font-size: 18px;
  font-family: var(--font-family);
  color: #fff !important;
  text-align: center;
  font-weight: 300 !important;
  width: 50%;
}
#hero-btn-main:hover {
  background-color: red !important;
}
#home-colored-text,
#dreamer,
#tech-color {
  color: var(--yellow-color) !important;
}
#dev-service {
  color: var(--yellow-color) !important;
  font-weight: 800;
}
#empower-one,
#empower-two,
#empower-three {
  color: #ae2827 !important;
}
#price-first,
#price-two,
#price-three {
  margin-bottom: 0 !important;
}
#price-box-one,
#price-box-two,
#price-box-three {
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
}
.heading-text .btn-primary {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 100px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  display: inline;
  color: var(--white-color);
}
.btn-primary:hover {
  background-image: linear-gradient(180deg, #0a2851, #0b2f63) !important;
}
.heading-text p {
  font-weight: 400;
  font-family: var(--font-family);
  margin-bottom: 50px;
}
.core-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-color);
  margin-bottom: 10px;
  font-family: var(--font-family);
}
.choose-card {
  position: relative;
  width: 100%;
  background-image: url("./images/choose-card-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.core-title h1 {
  font-weight: 700 !important;
  font-family: var(--font-family);
  color: var(--black-color) !important;
  font-size: 32px;
  text-transform: uppercase;
}
.card-body h5 {
  color: var(--black-color);
  font-weight: 600;
  font-family: var(--font-family);
}
.card-body p {
  color: var(--grey-text-color);
  font-size: 16px;
}
.bg-image-service h1 {
  font-size: 32px;
  font-family: var(--font-family);
  font-weight: 500;
}
.bg-image-service p {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 300;
}
.service-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-section {
  padding-left: 0;
}
#service-btn {
  margin-top: 20px;
}
.bg-image-service .btn-primary {
  background-image: linear-gradient(180deg, #0b92c7, #283f94);
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  display: inline;
  color: var(--white-color);
  margin-top: 30px;
}
.service-section {
  position: relative;
}
.service-section #top-img {
  position: absolute;
  top: -50px !important;
  left: 0 !important;
  height: 90px;
  width: 112px;
  padding: 0 !important;
}
#bottom-img {
  position: absolute;
  bottom: 0 !important;
  right: 0 !important;

  width: 112px;
  padding: 0 !important;
}
.choose-section h1 {
  font-size: 32px;
  font-family: var(--font-family) !important;
  font-weight: 700 !important;
  color: var(--black-color);
  margin-top: 50px;
}
.choose-section p {
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 300;
}
.feature-section {
  display: flex;
  gap: 35px !important;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.feature {
  height: 300px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(61, 61, 61, 0.062),
    0 6px 20px 0 rgba(0, 0, 0, 0.075);
  border-radius: 12px;
  margin: 0 !important;
  cursor: pointer;
}
.feature-section .feature {
  margin: 20px !important;
}
.feature-section .row > .feature:nth-child(3n) {
  margin-right: 0;
}
.feature:hover {
  background-color: #f0fbff !important;
  transition: 0.5s ease;
}
.feature h3 {
  font-size: 18px !important;
  font-family: var(--font-family) !important;
  font-weight: 700 !important;
  color: var(--black-color);
}
.feature p {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: 300;
}
.feature-row {
  display: flex;
  gap: 15px;
}
.feature-icon img {
  margin-top: 35px;
}
.empower-font-reduce {
  color: #000;
  font-family: var(--font-family);
  margin-bottom: 20px;
}
#empower-font-reduce-two {
  font-weight: 700;
  color: #000;
  font-family: var(--font-family);
  margin-bottom: 20px;
}
#empower-font-reduce-three {
  font-weight: 700;
  color: #000;
  font-family: var(--font-family);
  margin-bottom: 20px;
  margin-bottom: 20px !important;
}
.empower-section {
  background-image: url("./images/bg.webp");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white-color);
  position: relative;
}
.bolder-text {
  font-weight: 600 !important;
}
#revo-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 100 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  color: var(--white-color);
  font-weight: 400 !important;
  margin-top: 20px !important;
}
#revo-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
.empower-section > img {
  position: absolute;
  top: 0px !important;
  left: 0 !important;
  height: 90px;
  padding: 0 !important;
}
.empower-right h3 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 500 !important;
  margin-bottom: 20px;
}
.client-pic {
  height: 40px !important;
}
.name-title {
  font-size: 12px !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
}
.designation-title {
  font-size: 11px !important;
  font-weight: 200 !important;
  margin-bottom: 12px !important;
}
.other-link {
  display: block;
  text-decoration: none;
  font-size: 14px !important;
}
.other-link:hover {
  color: var(--text-hover);
  cursor: pointer;
  font-weight: 400;
}
.choose h1 {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  color: #000;
  padding: 10px;
}
.title-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.title-content h4 {
  font-size: 18px !important;
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  color: var(--white-color);
  margin-bottom: 0 !important;
}
.machine-text-content p {
  font-size: 16px;
  font-family: var(--font-family) !important;
  font-weight: 300 !important;
  color: var(--white-color);
  margin-left: 25px;
}
.right-section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.jumbotron {
  border-radius: 1rem;
}
#jumbo-star {
  position: absolute;
  right: 150px;
  bottom: 90px;
}
ul.nav.mb-2.justify-content-center {
  border-bottom: 1px solid #cfcfcf;
}
.border-column {
  border-left: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
  padding: 15px;
}
.nav-link {
  position: relative;
  color: var(--black-color);
  font-size: 16px;
  font-family: var(--font-family) !important;
  font-weight: 600 !important;
}
.footer-nav:hover {
  color: var(--yellow-color);
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-item:active {
  background-color: var(--white-color) !important;
}
.nav-link:hover::after {
  background: #007bff;
}
#tech-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#tech-div h2 {
  font-family: var(--font-family) !important;
  color: var(--black-color);
  text-transform: uppercase;
}
#tech-div p {
  font-size: 16px;
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  color: var(--black-color);
}
.first-box {
  border-left: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  padding-top: 50px;
  width: 200px;
  padding-bottom: 50px;
}
.second-box {
  border-left: 1px solid #cfcfcf;
  padding-top: 50px;
  width: 200px;
  padding-bottom: 50px;
}
.flutter {
  border-right: 1px solid #cfcfcf;
}
.swift {
  border-right: 1px solid #cfcfcf;
}
.slider-bg {
  width: 100%;
  background-image: url("./images/gradient-bg-kickstart.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.slider-bg-main {
  width: 100%;
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 522px;
}
.carousel-indicators button {
  background-color: var(--yellow-color) !important;
  height: 20px !important;
  width: 20px !important;
  border-radius: 50% !important;
}
#move-down-carousal {
  margin-bottom: -425px !important;
}
.slider-inner-text {
  padding-left: 235px;
}
.slider-inner-text h1 {
  font-size: 32px !important;
  font-family: var(--font-family) !important;
  font-weight: 700 !important;
  color: var(--white-color);
}
#slider-star-img-top {
  position: absolute;
  top: 0;
  left: -0px;
}
#slider-star-img-bottom {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
}
.top-reason-box h1 {
  font-size: 32px !important;
  font-family: var(--font-family) !important;
  font-weight: 700 !important;
  color: var(--black-color);
  text-transform: uppercase;
}
.top-reason-box h4 {
  font-size: 20px !important;
  font-family: var(--font-family) !important;
  font-weight: 600 !important;
  color: var(--black-color);
}
.top-reason-box p {
  font-size: 16px !important;
  font-family: var(--font-family) !important;
  font-weight: 300 !important;
  color: var(--black-color);
}
.border-top {
  position: relative;
  margin-top: 20px !important;
}
.border-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background-color: var(--blue-color);
  z-index: -1;
  border-radius: 100px;
}
.footer {
  width: 100%;
  background-image: url("./images/footer-new-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  font-family: var(--font-family);
  text-align: left;
}
.footer p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
}
.footer-nav ul {
  padding: 0 !important;
}
.footer-nav ul li {
  list-style: none;
  text-align: left;
}
.footer-nav ul li a {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  color: var(--text-hover);
  cursor: pointer;
  font-weight: 400;
}
.add-content {
  position: relative;
}
.add-content ul {
  padding: 0 !important;
}
.add-content ul li {
  list-style: none;
  text-align: left;
}
.add-content ul li a {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
.resource-content p {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
.resource-content p:hover {
  color: var(--text-hover);
  font-weight: 400;
  cursor: pointer;
}
.footer-logo-sec img {
  cursor: pointer;
  height: 50px;
}
.add-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.mail-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.call-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.add-div p {
  margin: 0 !important;
}
.mail-div p {
  margin: 0 !important;
}
.add-div p {
  margin: 0 !important;
}
.copyright p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
}
.copyright {
  border-top: 1px solid #ffffff3f;
}
.social-media {
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-media p {
  margin: 0 !important;
}
.video-container {
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.position-absolute {
  z-index: 1;
  padding-top: 20px;
}
.card-colored {
  background-color: #f0defc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-colored h2,
.card-colored-one h2,
.card-colored-two h2 {
  font-size: 40px;
  font-weight: bold;
}
.card-colored p,
.card-colored-one p,
.card-colored-two p {
  font-size: 14px;
}
.card-colored-one {
  background-color: #caf0f8;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-colored-two {
  background-color: #fdfcdc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.service-about {
  position: relative;
}
#top-img {
  position: absolute;
  top: -18px !important;
  left: 0 !important;
  width: 112px;
  padding: 0 !important;
}
.section-headings {
  font-size: 32px;
  font-weight: bold;
}
.bg-image-service-2 {
  background-image: url("./images/bg.webp");
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  position: relative;
}
.bg-image-service-2 .btn-primary {
  background-image: linear-gradient(180deg, #0b92c7, #283f94);
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  display: inline;
  color: var(--white-color);
  margin-top: 30px;
}
.work-less.btn-primary {
  background-image: linear-gradient(180deg, #0b92c7, #283f94);
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  display: inline;
  color: var(--white-color);
  margin-top: 30px;
}
.title-content-one h4 {
  font-size: 18px !important;
  font-family: var(--font-family) !important;
  font-weight: 500 !important;
  color: #000;
  margin-bottom: 0 !important;
}

.common-padding {
  padding: 50px;
}

.common-padding-new {
  padding: 100px;
}

h1.common-heading {
  font-size: 28px;
  font-weight: bold;
}
.common-headings {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
input,
select {
  border: 1px solid #dfdfdf !important;
  margin-bottom: 10px;
}
input:focus,
select {
  outline: none !important;
  border: none;
  box-shadow: none !important;
}
.text-container {
  overflow: hidden;
}
.product-section {
  width: 100%;
  background-image: url("./images/Mask group (10).png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
h4.partner {
  text-align: center;
}
.product-text p {
  font-size: 16px;
}
.new-product h4 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
  white-space: nowrap;
}
.new-product {
  border: 1px solid #fdfdfd83;
  border-radius: 12px;
  cursor: pointer;
}
.common-new {
  padding: 60px 20px;
}
.new-two {
  opacity: 0.6;
  color: #ffff;
  font-size: 24px;
  font-weight: bold;
}
.border-bottom-new {
  border-bottom: 1px solid #fff;
}
.customize-box {
  border-radius: 12px;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.11);
  border: #dfdfdf;
}
.number-count h4 {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-red);
}
.number-count p {
  font-size: 18px;
  font-weight: 400;
}
.common-inner-padding {
  padding: 90px;
}
h4.border-line {
  background: grey;
  height: 50px;
  width: 2px;
}
.job-title h2 {
  font-size: 16px;
}
.experience-field {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.experience-dropdown {
  padding: 8px 30px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  margin-bottom: 0;
  color: #00000063;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.search-input {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  font-size: 1em;
  width: 100%;
  max-width: 300px;
}
.category-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.fileds-cards {
  border: 1px solid #acabab;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.fileds-cards img {
  height: 35px;
}
.inner-field h4 {
  font-size: 16px;
}
.inner-field p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}
.btn-primary.fileds-cards {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  width: 126px !important;
}
.btn-primary.fileds-cards-new {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  width: 126px !important;
}
.btn-primary.fileds-cards:hover {
  background-image: linear-gradient(90deg, #132c7b, #132c7b) !important;
}
.btn-primary.fileds-card-bottom {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
.btn-primary.fileds-card-bottom:hover {
  background-image: linear-gradient(90deg, #132c7b, #132c7b) !important;
}
#apply-container {
  padding: 0 !important;
}
#career-btn {
  font-weight: 300;
}
.informatic {
  background-image: url("images/join-team-bg.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
section.informatic.team h2 {
  color: #fff;
  align-items: center;
}
section.informatic.team p {
  color: #fff;
  font-size: 16px;
  align-items: center;
  font-weight: 200;
}
.back-content-filled .fileds-cards-one {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.back-content-filled .fileds-cards-one img {
  height: 50px;
}
.back-content-filled .inner-field-one h4 {
  font-size: 16px;
}
.back-content-filled .inner-field-one p {
  font-size: 14px;
}
.back-content-filled {
  background: #fff;
  box-shadow: 0px 0px 35px 0px #0000001c;
  padding: 1em;
}
.job-filter-section {
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 50px auto;
  margin-bottom: 0px !important;
  width: 80%;
}
.job-title {
  margin-right: 30px !important;
}
.job-title h2,
.experience-field h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
}
.search-input {
  width: 100%;
  padding-top: 10px 0px 10px 0px;
  max-width: 300px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 0;
  margin-right: 10px;
}
.search-input::placeholder {
  color: #0000003a;
}
.search-btn {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #007bff;
  color: white;
  border: none;
}
.job-image {
  height: 20px;
  object-fit: cover;
}
.border-line {
  width: 1px;
  height: 30px;
  background-color: #007bff;
}
.top-reason-box {
  text-align: center;
}
.heading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero-contact {
  width: 100%;
  height: 560px;
  background-image: url("./images/contact-bg-hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.hero-text h1 {
  color: var(--white-color) !important;
  font-family: var(--font-family);
  font-weight: 800 !important;
  line-height: 1.2 !important;
  font-size: 40px !important;
}
#elevate {
  color: #ffd000 !important;
}
.hero-text p {
  color: var(--white-color) !important;
  font-family: var(--font-family);
  font-weight: 300 !important;
  line-height: 1.2 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
}
.hero-text #business-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  width: 145px;
}
#career-btn-hero {
  border: 2px solid var(--white-color);
  background-color: unset;
  padding: 7px 20px;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 14px;
  height: 40px;
  width: 145px;
}
.hero-text #business-btn:hover {
  background-image: linear-gradient(90deg, #132c7b, #132c7b) !important;
}
.hero-text #career-btn-hero:hover {
  background-image: linear-gradient(90deg, #132c7b, #132c7b) !important;
  border: 2px solid #132c7b;
  color: var(--white-color);
}
.form-text {
  color: var(--black-color) !important;
  font-family: var(--font-family);
  font-weight: 300 !important;
  line-height: 1.2 !important;
  font-size: 16px !important;
}
.form-text h4 {
  text-align: center;
  margin-bottom: 30px;
}
#short-icon {
  padding: 0 !important;
  margin-right: 10px;
  width: 24px !important;
}
.check-input {
  white-space: nowrap;
}
.lable-title {
  margin-bottom: 5px;
}
#proposal-title {
  color: var(--primary-text);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}
input:focus,
textarea {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}
#attach-file-text {
  color: #9a9a9a !important;
}
#add-btn {
  background-image: linear-gradient(45deg, #ae2827, #132c7b);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nda-text {
  display: inline-block;
  margin-left: 10px;
  font-family: var(--font-family);
  font-weight: 500 !important;
}
.informed-text {
  display: inline-block;
  margin-left: 10px;
  font-family: var(--font-family);
  font-weight: 300 !important;
  color: #9a9a9a;
  font-size: 14px !important;
}
.checkbox label {
  display: inline-block;
  margin-right: 20px;
}
#phone {
  padding: 1rem 0.75rem;
  border-radius: 0.375rem;
}
.small-input {
  width: 50px;
  padding: 5px;
  font-size: 14px;
}
.checkbox label p {
  margin: 0;
}
.form-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
.form-btn:hover {
  background-image: linear-gradient(90deg, #132c7b, #132c7b) !important;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
#unstopable-section {
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
#expert-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
#expert-btn-digi {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
#expert-btn-digi:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
#expert-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
.fluid-contain {
  width: 100%;
  background-image: url("./images/bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.Portfolio-text h1 {
  color: var(--white-color) !important;
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 800;
}
.Portfolio-text p {
  color: var(--white-color) !important;
  font-size: 16px;
  font-family: var(--font-family);
}
.Portfolio {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 800;
}
.port-btn {
  background-image: linear-gradient(180deg, #0b92c7, #283f94);
  border-radius: 100px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300;
  font-family: var(--font-family);
}
.remove-bg {
  background-color: transparent !important;
}
.bg-girl {
  background-color: transparent !important;
}
.shadow-lg {
  box-shadow: none !important;
}
.seamless-content {
  font-size: 28px !important;
  line-height: 1.2 !important;
  text-transform: uppercase;
  color: var(--text-red) !important;
}
.seam-para {
  font-size: 16px !important;
}
.expert-btn {
  background-image: linear-gradient(180deg, #0b92c7, #283f94);
  border-radius: 100px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 300;
  font-family: var(--font-family);
}
#Esteemed-text {
  color: var(--text-red) !important;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}
#logo-slider {
  padding: 30px;
}
#allen-brand,
#katon-brand,
#mygolf-brand {
  min-width: 230px;
  min-height: 150px;
  background-color: #ffffff !important;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2), 0 16px 10px rgba(0, 0, 0, 0.253);
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-prev,
.custom-next {
  position: absolute;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.custom-prev {
  left: 10px;
}
.custom-next {
  right: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 25px;
  height: 25px;
  background-size: 100%;
  background-position: center;
}
.custom-circle-btns {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  margin-top: 20px;
  z-index: 10;
}
.circle-btn {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  outline: none;
}
.circle-btn.active {
  background-color: #007bff;
}
.circle-btn:hover {
  background-color: #0056b3;
}
.slider-main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.client-logo {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px !important;
}
.client-logo img {
  height: 90px;
}
.client-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.client-main h1 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 0px !important;
}
.slick-dots li button:before {
  font-size: 20px !important;
}
.slick-dots li button::before {
  color: var(--blue-color) !important;
  margin-bottom: 80px !important;
}
.slick-list .draggable {
  padding: 0px !important;
}
#footer-bg-color {
  background-image: url("./images/footer-colored-image.webp");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  margin-top: 15px;
}
.footer-nav ul {
  padding: 0 !important;
}
.footer-nav ul li {
  list-style: none;
  text-align: left;
}
.footer-nav ul li a {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  color: var(--text-hover);
  cursor: pointer;
  font-weight: 400;
}
.add-content ul {
  padding: 0 !important;
}
.add-content ul li {
  list-style: none;
  text-align: left;
}
.add-content ul li a {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
.resource-content p {
  font-family: var(--font-family);
  font-weight: 300;
  color: var(--white-color);
  font-size: 14px;
  text-decoration: none;
}
.resource-content p:hover {
  color: var(--text-hover);
  font-weight: 400;
  cursor: pointer;
}
.footer-logo-sec img {
  cursor: pointer;
  height: 50px;
}
.add-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.mail-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.call-div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.add-div p {
  margin: 0 !important;
}
.mail-div p {
  margin: 0 !important;
}
.add-div p {
  margin: 0 !important;
}
.copyright p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
}
.social-media {
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-media p {
  margin: 0 !important;
}
.video-container {
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  box-sizing: border-box;
}
.position-absolute {
  z-index: 1;
  padding-top: 20px;
}
.card-colored {
  background-color: #f0defc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-colored h2,
.card-colored-one h2,
.card-colored-two h2 {
  font-size: 40px;
  font-weight: bold;
}
.card-colored p,
.card-colored-one p,
.card-colored-two p {
  font-size: 14px;
}
.card-colored-one {
  background-color: #caf0f8;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.card-colored-two {
  background-color: #fdfcdc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.service-about {
  padding-top: 30px;
  position: relative;
}
.service-about img#top-img {
  position: absolute;
  top: -18px !important;
  left: 0 !important;
  height: 90px;
  width: 112px;
  padding: 0 !important;
}
.service-about #bottom-img {
  position: absolute;
  top: 170px !important;
  right: 0 !important;
  height: 90px;
  width: 112px;
  padding: 0 !important;
}
.section-headings {
  font-size: 32px;
  font-weight: bold;
}
.bg-image-service {
  background-image: url("./images/digi-bg.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  position: relative;
}
.work-less.btn-primary {
  background-image: linear-gradient(180deg, #0b92c7, #283f94);
  border-radius: 100px;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  display: inline;
  color: var(--white-color);
  margin-top: 30px;
}
.work-culture h3 {
  text-transform: uppercase !important;
  font-family: var(--font-family);
  font-weight: 700 !important;
}
.title-content-one h4 {
  font-size: 18px !important;
  font-family: var(--font-family) !important;
  font-weight: 500 !important;
  color: #000;
  margin-bottom: 0 !important;
}
.common-padding {
  padding: 50px;
}
h1.common-heading {
  color: var(--text-red);
  font-weight: 800;
  text-transform: uppercase;
}
input {
  border: 1px solid #dfdfdf;
}
.text-container {
  overflow: hidden;
}
.hero-contact-carer {
  width: 100%;
  height: 700px;
  background-image: url("./images/back-career.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.common-padding-increase {
  margin-top: 11em;
}
.carer-headings h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
}
.carer-headings p {
  font-size: 16px;
}
.padding-increase {
  margin-top: 0px !important;
}
.digital-section {
  background-image: url("./images/digi-bg.png");
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  position: relative;
}
#digi-btn-one,
#digi-btn-two,
#digi-btn-three {
  border-radius: 5px;
  border: 2px solid #fff !important;
  background-color: transparent !important;
  background-image: none !important;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 400 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
  white-space: nowrap;
}
#digi-btn-one:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
  border: 2px solid #253695 !important;
}
#digi-btn-two:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
  border: 2px solid #253695 !important;
}
#digi-btn-three:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
  border: 2px solid #253695 !important;
}
#digital-line {
  font-size: 24px;
}
#digital-heading {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 42px;
  color: #ffd000 !important;
}
.seamless-section-2 {
  width: 100%;
  background-image: url("./images/white-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#seo-inner-one,
#seo-inner-two {
  color: var(--yellow-color);
  font-weight: 300;
}
.counter-section {
  background-image: url(./images/digi-details-bg.png);
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white-color);
  position: relative;
}
.num-image img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
h2.carer-headings {
  text-transform: uppercase;
  font-weight: bold;
}
#carer-para-one,
#carer-para-two,
#carer-para-three,
#carer-para-four,
#carer-para-five {
  font-weight: 200;
  font-size: 16px;
  color: var(--white-color);
}
#margin-add {
  margin-top: 10em;
  margin-right: 80px;
}
.expert-btn-2 {
  position: relative;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 300;
  font-family: var(--font-family);
  background: none;
  border-radius: 50px;
  color: #000;
  z-index: 1;
  overflow: hidden;
}
#fashion-house-heading {
  font-size: 32px !important;
  font-weight: 800 !important;
}
.hero-text {
  color: #fff;
  position: relative;
}
.hero-text h1 {
  font-family: var(--font-family);
  font-weight: 800;
  text-transform: uppercase;
}
.hero-text span {
  color: var(--yellow-color) !important;
}
.hero-text p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
}
.tech-text h1 {
  font-family: var(--font-family);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-color);
  font-size: 32px;
  margin-bottom: 24px;
  margin-top: 50px;
}
.tech-area {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
.web-development-text h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-color);
}
.product-text-web h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-color);
  font-weight: 700 !important;
}
.platform-bg {
  background-image: url(./images/white-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
.padding-set {
  padding-top: 0px !important;
}
.margin-common {
  margin-bottom: 80px !important;
}
.techno-section {
  width: 100%;
  background-image: url("./images/tech-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-items.calendar-item {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.calendar-items {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  overflow: hidden;
}
.border-button {
  border: 1px solid #176fb1;
  height: 37px;
  width: 135px;
  border-radius: 50px;
  background: transparent;
  transition: width 0.3s, height 0.3s;
  color: #fff;
}
.line {
  background: #186db1;
  height: 3px;
  width: 106px;
  margin-top: 16px;
  transition: width 0.3s;
}
.calendar-slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.list-inline {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.list-inline li {
  margin-right: 4px;
}
.client-slider-section {
  border: 1px solid var(--primary-text);
  border-radius: 20px;
  padding: 20px;
}
.slider-content-new h6 {
  font-size: 16px;
  font-weight: bold;
}
.slider-content-new p {
  font-size: 14px;
}
#python-img {
  height: 70px !important;
}
#aws-img {
  height: 50px !important;
}
#devops-img {
  height: 50px !important;
}
#machine-learning-img {
  height: 70px !important;
}
#css-img {
  height: 60px !important;
}
#azure-img {
  height: 120px !important;
}
#ai-img {
  height: 70px !important;
}
.navbar-nav .nav-item a,
.navbar-toggler {
  will-change: transform;
}
.hero-heading {
  color: white;
  opacity: 1;
  transition: opacity 1s ease;
}
.first-line {
  color: white;
  transition: opacity 1s ease;
}
.lead {
  color: grey;
  transition: color 1s ease;
}
.text-container p {
  opacity: 0.5;
  transition: opacity 1s ease;
}
#star-show {
  opacity: 1 !important;
}
.client-msg,
.slider-content-new {
  text-align: left;
}
.client-msg {
  margin-top: 10px;
}
#more {
  display: none;
}
#read-more-link {
  color: var(--yellow-color);
  cursor: pointer;
}
#read-more-link:hover {
  text-decoration: underline;
}
#more1 {
  display: none;
}
#read-more-link1 {
  color: var(--yellow-color);
  cursor: pointer;
}
#read-more-link1:hover {
  text-decoration: underline;
}
.client-slider-section img {
  max-width: 100%;
  height: 20px;
}
img.client-profile {
  height: auto;
}
.case-study-header {
  position: relative;
  z-index: 2;
}
#blur-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("images/purple-glow.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#blur-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 2;
}
.container.case-study-header {
  position: relative;
  z-index: 3;
  padding: 50px 0;
}
.case-study-header h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
}
.case-study-header h1 {
  color: var(--black-color) !important;
  font-size: 48px;
  font-weight: 900 !important;
  text-transform: uppercase;
}
#lyc-hero-para {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400 !important;
}
.para-challan p {
  font-size: 14px;
}
#heading-margin {
  width: 95%;
  height: 80%;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  margin-top: 200px !important;
}
#heading-margin-two {
  width: 95%;
  height: 40%;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  margin-top: 10px !important;
}
#challenge-content {
  margin-top: 300px !important;
}
#challenge-content h6 {
  font-size: 14px !important;
  margin-bottom: 20px !important;
}
#challenge-content h2 {
  color: var(--black-color);
  font-weight: 800 !important;
}
#ameo h2 {
  color: var(--black-color);
  font-weight: 800 !important;
}
#challenge-content-two h2 {
  color: var(--black-color);
  font-weight: 800 !important;
}
#challenge-content-two p {
  font-size: 14px !important;
}
#bold-text,
#bold-text-two,
#bold-text-three {
  font-weight: 800 !important;
  margin-bottom: 35px !important;
  text-transform: uppercase;
}
#challenge-content-two {
  margin-top: 80px !important;
}
.para-line-height {
  line-height: 2 !important;
  font-size: 16px !important;
  font-weight: 500;
}
#web-port-one,
#web-port-two {
  font-weight: 800 !important;
}
#top-bar img {
  height: 50px !important;
}
#top-bar h1 {
  color: var(--black-color);
  font-weight: 800;
  font-size: 32px;
}
#top-bar-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 100px;
  border: none;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 500;
  font-family: var(--font-family);
  color: var(--white-color);
}
#blur-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url("images/purple-glow.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}
.navbar {
  position: relative;
  z-index: 10;
  background-color: white;
}
#top-bar {
  margin-top: 50px;
  z-index: 2;
}
.case-study-header {
  position: relative;
  z-index: 2;
  padding: 50px 0;
}
.container.case-study-header {
  position: relative;
  z-index: 2;
}
.case-study-header h1 {
  font-size: 42px;
  font-weight: bold;
  color: #333;
}
.case-study-header p.lead {
  font-weight: 400;
}
#challenge-content-two {
  margin-top: 60px !important;
}
#top-margin-case {
  margin-top: 0px !important;
}
#challen-text {
  margin-top: 200px !important;
}
#challen-text-result {
  margin-top: 0px !important;
}
#challen-text-result h1 {
  color: var(--text-red);
  font-weight: 800;
  text-transform: uppercase;
}
#challen-text h1 {
  color: var(--text-red);
  font-weight: 800;
  text-transform: uppercase;
}
#problems-man-image {
  border-radius: 10px;
}
#challen-text-two {
  margin-top: 50px !important;
  font-weight: 800 !important;
  font-size: 2.5rem;
  color: var(--black-color);
}
.result-report {
  width: 100%;
  background-color: #f5f3f4;
  padding-bottom: 30px;
}
.graph-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #2222221c;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.graph-card img {
  margin-right: 15px;
  height: 40px;
}
.right-text {
  text-align: left;
}
.graph-card h6 {
  color: var(--blue-color);
  font-size: 16px;
}
.graph-card p {
  font-size: 14px;
  color: #555;
}
#color-num-one,
#color-num-two,
#color-num-three {
  color: #eb5754;
  font-weight: 700;
}
#card-move {
  padding-left: 10px;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .social-media img {
  height: 20px;
}
.footer .copyright p {
  margin: 0;
}
#prob-repo-img {
  border-radius: 10px;
}
#color-title {
  color: var(--blue-color) !important;
}
.card-choose-us {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.people-pioneer-text {
  font-size: 32px;
  font-weight: 600;
}
#people-colored,
#pioneer-colored {
  color: var(--text-red);
}
.card-red-heading {
  color: var(--text-red);
  font-size: 22px;
}
.border-heading {
  border: 1px solid #ababab;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 1em;
}
.border-heading h4 {
  font-size: 32px;
  color: var(--text-red);
  font-weight: 600;
}
.border-heading h6 {
  font-size: 22px;
  color: var(--black-color);
}
.border-line-red {
  height: 77px;
  width: 3px;
  background: var(--text-red);
  margin: 0em 3em;
}
.align-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
button.explore {
  background: none;
  border: 1px solid #ffff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
button.explore:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
  border: none;
}
.blue-bg {
  width: 100%;
  background-image: url("./images/light-blue-bg-01jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blue-bg-about {
  width: 100%;
  background-image: url("./images/leadership-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uppercase {
  text-transform: uppercase;
}
.custom-input {
  height: 48px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  box-shadow: none;
}
.common-btn {
  height: 48px;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px 15px;
}
#form-div {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
.flag-icon {
  width: 20px;
  height: 14px;
  object-fit: cover;
  margin-right: 5px;
}
.custom-input-group .input-group-text,
.custom-input {
  height: 48px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 0 10px;
}
.custom-input-group .input-group-text {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-right: none;
  border-radius: 5px 0 0 5px;
}
.custom-input {
  border-left: none;
  border-radius: 0 5px 5px 0;
  padding-left: 10px;
}
.custom-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.images-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.calendar-slider {
  margin: 20px auto;
  position: relative;
}
.calendar-item {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  width: 170px !important;
}
.calendar-item.active {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
.calendar-slider .slick-slide {
  display: flex;
  justify-content: center;
}
.case-study-header {
  background-color: #f8f9fa;
  padding: 30px 0;
  text-align: center;
}
.case-study-header h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.colored-red-heading {
  color: var(--text-red);
}
#heading-margin,
#heading-margin-two {
  width: 90%;
  background-color: var(--white-color);
  box-shadow: 0 4px 8px 0 rgba(51, 178, 236, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
  margin-top: 0;
  padding: 30px;
  overflow: hidden;
}
#heading-margin-two {
  padding: 20px;
}
.quote {
  font-style: italic;
  background-color: #f0f0f0;
  padding: 20px;
  border-left: 4px solid #007bff;
  margin-bottom: 30px;
}
.case-study-steps .step {
  border-left: 4px solid #007bff;
  padding-left: 15px;
  margin-bottom: 20px;
}
#banner-bg {
  background-image: url("./images/healthcare-main-bg.jpg");
  width: 100%;
  height: 350px;
  border-radius: 30px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#challeng-man {
  border-radius: 10px;
}
.spacer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.cards-section .card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 50px 80px;
}
.cards-section .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
.cards-section .card-body {
  padding: 15px;
}
.cards-section .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.cards-section .card-text {
  font-size: 14px;
  color: #555;
}
.testimonial-card {
  background-color: #fffff5;
  box-shadow: 0 4px 8px 0 rgba(51, 178, 236, 0.2),
    0 6px 20px 0 rgba(80, 80, 80, 0.096);
  padding: 10px 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}
.testimonial-card p {
  font-size: 12px !important;
}
.testimonial-card h5 {
  font-size: 12px !important;
  font-weight: 800;
  margin-left: 10px;
}
.testimonial-card img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.client-name {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 0; 
}
.client-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#cate-btn {
  margin-top: 50px !important;
}
.career-section {
  background-image: url("./images/career-bg-hero.png");
  width: 81%;
  height: 80%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.client-main {
  background-color: #f8f9fa;
  padding: 40px 0;
}
#Esteemed-text {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.informatic.team {
  padding: 2rem 0;
}
.girl-image {
  max-width: 100%;
  height: auto;
}
.ameo-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.ameo-content p {
  font-size: 1rem;
  line-height: 1.6;
}
#apply-container {
  margin-top: 3.5rem;
}
.vision-text-heading {
  padding: 20px;
}
#exp-review {
  color: #fff;
}
.border-line-red {
  height: 2px;
  background-color: #d9544fb4;
  border-radius: 2px;
}
.additional-content {
  transition: all 0.3s ease;
}
.d-none {
  display: none !important;
}
.dotted-border {
  border-radius: 20px;
  border: 2px dashed #00000036; 
}
button#toggle-button\ expert-btn-digi {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
.see-more-btn {
  background-image: linear-gradient(90deg, #ae2827, #132c7b);
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 300 !important;
  font-family: var(--font-family);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out !important;
}
.see-more-btn:hover {
  background-image: linear-gradient(180deg, #253695, #253695) !important;
  color: var(--white-color) !important;
}
#banner-bg-plea {
  background-image: url("./images/lyc-hero-image-woman.png");
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.para-lyc {
  background-color: #f8bcbe75;
  padding: 50px 40px;
  border-radius: 10px;
}
.lyc-title {
  color: var(--white-color);
  font-weight: 800;
  font-size: 42px;
  text-transform: uppercase;
}
.res-bg {
  background-image: url("./images/result-bg02.png");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 130px !important;
}
.food-bg {
  background-image: url("./images/food-bg-two.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#food-del-text {
  color: rgb(255, 38, 0);
  font-weight: 900;
}
h2.gen-subtitle {
  color: #ae2827;
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
}
.conclusion-bg {
  background-image: url("./images/lyc-hero-image-new.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
span#api-int-text,
#uiux-colored,
span#elearn-title {
  color: #ae2827;
}
.lyc-case {
  background-image: url("./images/lyc-hero-image-new.jpg");
  width: 100%;
  border-radius: 10px;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.circle-before::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ae2827;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}
.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}
.back-to-top:hover {
  opacity: 0.8;
  cursor: pointer;
}
.bolder-heading {
  font-weight: 600;
}
.webdev-bg {
  background-image: url("./images/web-dev-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.data-bg {
  background-image: url("./images/data-entery-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.service-bg-hero {
  background-image: url("./images/service-hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}