*{
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

.text-color{
    color: #1933b5;
}

.linear_gradient{
    background: linear-gradient(90deg, rgb(66, 225, 214), rgb(29, 48, 130));
}