#bg-img{
    background-image: url('../assets/career_bg.jpg');
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top-font{
    font-size:50px;
    font-weight: 700;
}

.linear_grad{
    background: linear-gradient(90deg, rgb(66, 225, 214), rgb(29, 48, 130));
}

.categories_sm{
    font-size:small;
}