*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#section2{
    min-height:120vh;
    background-image: url('../assets/contactus.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
    background: linear-gradient(90deg, rgb(66, 225, 214), rgb(29, 48, 130));
    border: none;
}